{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% for post in auctions %}
    <h2>{{ post.title }}</h2> <a href="/edit/{{ post.id }}/">Edit auction</a>
    <p>ID: {{ post.id }}</p>
    <p>Time: {{ post.timestamp }}</p>
    <p>Deadline: {{ post.deadline }}</p>
    <p>Price: {{ post.price }}</p>
    <p>Seller: {{ post.owner.username }}</p>
    <p>{{ post.description }}</p>
{% empty %}
    <p>No Auction Posts<p>
{%  endfor %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ lang.1 }} ({{ lang.0 }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>

{% endblock %}