{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load humanize %}


{% if auction.activestatus == True %}
    <h2>{{ auction.title }}</h2>
    <p>ID: {{ auction.id }}</p>
    <p>Deadline: {{ auction.deadline }}</p>
    <p>Price: {{ "€" }} {{  auction.price|intcomma }}</p>
    <p>Seller: {{ auction.owner.username }}</p>
    <p>Description: {{ auction.description }}</p>
{% endif %}

<form method="get">
    {{ currency.as_p }}
</form>

<form method="get">
    {{ language.as_p }}
</form>
{% endblock %}