{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<style type= "text/css">
    body {color: #efd; background: #453; padding: 0 5em; margin:0}
    h1 {padding: 2em 1em; background: #675}
    h2 {color: #bf8; border-top: 1px dotted #fff; margin-top: 2em}
    p {margin: 1em 0}
</style>

<body>
<h1>{% trans 'My YAAS page' %}</h1>
<br>
    <b><a href="/home/">{% trans 'Home' %}</a> </b>
    {% if user.is_authenticated %}
        <a href="/add/">{% trans 'Create New Auction' %}</a>
        <a href="/editprofile/">{% trans 'Edit Profile' %}</a>
        <a href="/logout/">{% trans 'Logout' %}</a>
    {% else %}
        <a href="/login/">{% trans 'Login' %}</a>
        <a href="/createuser/">{% trans 'Create New User' %}</a>
    {% endif %}
<br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% block content %}
{% endblock %}

</body>
</html>